// stylelint-disable
$primary: #21A8C5;
$gray-700: #495057;
$body-bg: #FACDE5;
$body-color: black;

@import "../common.scss";

@font-face {
    font-family: sacramento;
    src: url(/Sacramento-Regular.ttf);
}
body {
    font-family: sacramento;
    font-weight: bolder;
}
* {
    font-family: sacramento;
    font-weight: bolder;
}
