$primary: #005ea1;
$secondary: #3a93c3;

@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../common.scss';

// react-placeholder
// declare after bootstrap, since we need bootstrap variables
.text-row,
.rect-shape,
.round-shape {
  background: $gray-200 !important;
}

:root {
  --navbar-border-image: linear-gradient(90deg, #{$primary}, #00b1ec);
  --home-card-mobile-border: #{$gray-300};
}

.navbar-brand > * {
  color: #035fa1 !important;
  font-weight: bold !important;
}
