// stylelint-disable
$neuland-color: #8845ef;

$body-bg: #202020;
$body-color: #DFE5F2;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$color-darker-percent-full: 20%;
$color-darker-percent-half: $color-darker-percent-full * 0.5;
$color-darker-percent-quarter: $color-darker-percent-half * 0.5;
$color-darker-percent-none: 0;

$blue: lighten(#007bff, $color-darker-percent-half);
$indigo: darken(#6610f2, $color-darker-percent-none);
$purple: darken(#6f42c1, $color-darker-percent-none);
$pink: darken(#e83e8c, $color-darker-percent-none);
$red: darken(#dc3545, $color-darker-percent-none);
$orange: darken(#fd7e14, $color-darker-percent-none);
$yellow: lighten(#ffc107, $color-darker-percent-half);
$green: darken(#28a745, $color-darker-percent-none);
$teal: darken(#20c997, $color-darker-percent-none);
$cyan: lighten(#17a2b8, $color-darker-percent-none);

$primary: $neuland-color;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;
$light: $gray-300;
$dark: $gray-800;

@import "../common.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";