// stylelint-disable
$primary: #00FF00;
$gray-700: #BBBBBB;
$body-bg: #404040BB;
$body-color: white;

@import "../common.scss";

@font-face {
  font-family: fasterone;
  src: url(/fonts/FasterOne-Regular.ttf);
}
:is(h1, h2, h3, h4, h5, h6),
.h1, .h2, .h3, .h4,
.card-title {
  font-family: fasterone;
  color: #{$primary};
}
