// stylelint-disable
$primary: #F3F315;
$gray-700: #BBBBBB;
$body-bg: #121212;
$body-color: white;

@import "../common.scss";

@font-face {
  font-family: fasterone;
  src: url(/fonts/FasterOne-Regular.ttf);
}
@font-face {
  font-family: pressstart;
  src: url(/fonts/PressStart2P-Regular.ttf);
}
body {
    font-family: pressstart;
    font-weight: bolder;
}
* {
    font-family: pressstart;
    font-weight: bolder;
}
:is(h1, h2, h3, h4, h5, h6),
.h1, .h2, .h3, .h4,
.card-title {
  font-family: fasterone;
  color: #{$primary};
}
