$primary: #005a9b;
$secondary: #3a93c3;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../common.scss";

// react-placeholder
// declare after bootstrap, since we need bootstrap variables
.text-row, .rect-shape, .round-shape {
  background: $gray-200 !important;
}

:root {
  --navbar-border-image: linear-gradient(90deg, #{$primary}, #00b1ec);
  --tabbar-tab-active: $primary;
  // --navbar-border-image: none;
}


.navbar-brand > * {
  color: #025b9c !important;
  font-weight: bold !important;
}