.navbar {
  padding: 0 10px;
  height: 50px;
  background-color: var(--navbar-background, white);
}

.navbar :global(.navbar-brand) {
  display: flex;
  align-items: center;
}

.navbar :global(.btn-link) {
  padding: 5px 10px;
}

.navbar .back {
  padding: 10px;
}

.title {
  font-size: 15pt;
}

.titleText {
  display: inline;
  margin-bottom: 2px;
}

.titleText:first-child {
  padding: 0px 10px;
}

.right {
  margin: 4px 0 0 0;
  text-align: right;
}

.matrixBackground {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

/*
 * this spacer is placed directly above the app body and provides
 * clerance to ensure nothing is displayed under the navbar
 */
.spacer {
  /* 50px header height + iOS home bar height */
  height: calc(50px + env(safe-area-inset-top, 0px));
}
