.navbar {
  padding: 0 10px;
  /* adds padding for the ios status bar to avoid the navbar overlapping the content */
  padding-top: calc(env(safe-area-inset-top, 0px));
  height: calc(50px + env(safe-area-inset-top, 0px));
  background-color: var(--navbar-background, white);
}

.navbar :global(.navbar-brand) {
  display: flex;
  align-items: center;
}

.navbar :global(.btn-link) {
  padding: 5px 10px;
}

.navbar .back {
  padding: 10px;
}

.title {
  font-size: 15pt;
}

.titleText {
  display: inline;
  margin: 0px 10px;
}
.titleTextPride {
  display: inline;
  margin: 0px 10px;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, #F44336 16.66%, #FF9800 16.67%, #FF9800 33.33%, #FFEB3B 33.34%, #FFEB3B 49.99%, #4CAF50 50%, #4CAF50 66.66%, #2196F3 66.67%, #2196F3 83.33%, #9C27B0 83.34%) 1 0 stretch;
}

.right {
  margin: 4px 0 0 0;
  text-align: right;
}

/*
 * this spacer is placed directly above the app body and provides
 * clerance to ensure nothing is displayed under the navbar
 */
.spacer {
  /* 50px header height + iOS home bar height */
  height: calc(50px + env(safe-area-inset-top, 0px));
}
