.navbar {
  padding: 0;
  height: 50px;
  background-color: var(--navbar-background, white);
  border-bottom: 1px solid var(--navbar-border, #eeeeee);
  box-shadow: 0px 0px 3px var(--navbar-shadow, #00000020);

  margin-bottom: 5px;
}

.navbar :global(.btn-link) {
  margin: 0px 10px;
}

.title {
  font-size: 15pt;
}

.titleText {
  display: inline;
}

.titleText:first-child {
  padding: 0px 20px;
}

.titleIcon {
  width: 32px;
  margin-top: -5px;
  margin-right: 5px;
  filter: grayscale(100%);
}

.right {
  margin: 4px 0 0 0;
  text-align: right;
}

.matrixBackground {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
