.navbar {
  /* prevent iOS home bar from overlapping tab bar */
  padding: 0 0 env(safe-area-inset-bottom, 0px) 0;
  background: var(--tabbar-background, white);
  box-shadow: 0px 0px 3px var(--tabbar-shadow, #00000020);
}

.nav {
  width: 100%;
  display: flex;
}

.tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8pt;
  color: var(--tabbar-tab, #444444) !important;
}

.tabActive {
  color: var(--tabbar-tab-active, #8845ef) !important;
}

.icon {
  font-size: 18pt;
}

/*
 * this spacer is placed directly under the app body and provides
 * clerance to ensure nothing is displayed under the tab bar
 */
@media only screen and (max-width: 768px) {
  .spacer {
    /* 56px footer height + iOS home bar height */
    height: calc(56px + env(safe-area-inset-bottom, 0px));
  }
}
