/* tab bar */
.container :global(.nav) {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* tab bar items */
.container :global(.nav .nav-item) {
  flex: 1;
  text-align: center;
}
.container :global(.nav .nav-link) {
  padding: 5px 10px;
}

.item {
  display: flex;
  gap: 5px;
}

.left {
  flex: 1;
}

.details {
  display: flex;
  flex-direction: column;
  color: var(--gray);
}

.rightDetails {
  align-items: flex-end;
}

.socials {
  display: flex;
  gap: 5px;
  margin-bottom: 2px;
}

.icon {
  flex-shrink: 0;
}

.eventDetails {
  display: flex;
  gap: 5px;
  align-items: center;
}

.right {
  color: gray;
  text-align: right;
}

.eventUrl {
  color: unset;
}
