/* tab bar */
.container :global(.nav) {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* tab bar items */
.container :global(.nav .nav-item) {
  flex: 1;
  text-align: center;
}

.item {
  display: flex;
}

.left {
  flex: 1;
}

.details {
  color: gray;
}

.right {
  color: gray;
  text-align: right;
}

.tab {
  padding: 5px 10px;
}
