.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  padding: 10px;
  text-align: center;
}

.wideList {
  width: 600px;
  max-width: 95vw;
}
.floatRight {
  float: right;
}

.heading {
  margin-top: 20px;
}
