html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}



/*
 * DEFAULT THEME
 */
.default {

}



/*
 * DARK THEME
 */
.dark {
  background-color: #202020;
}
.dark * {
  background-color: #202020 !important;
  color: #ffffff !important;
}
.dark .card,
.dark .modal-content,
.dark .list-group-item,
.dark .list-group-item-action {
  border-color: #404040 !important;
}



/*
 * RETRO THEME
 */
@font-face {
  font-family: fasterone;
  src: url(/FasterOne-Regular.ttf);
}
@font-face {
  font-family: pressstart;
  src: url(/PressStart2P-Regular.ttf);
}
.retro {
  background-color: #121212;
  font-family: pressstart;
}
.retro * {
  background-color: #121212 !important;
  color: white !important;
  font-family: pressstart;
}
.retro .card,
.retro .modal-content,
.retro .list-group-item,
.retro .list-group-item-action {
  border-color: #F3F315 !important;
}
.retro :is(strong, h1, h2, h3, h4, h5, h6),
.retro .card-title {
  color: #F3F315 !important;
  font-family: fasterone;
}
