.heading {
  margin-top: 20px;
}

.item {
  display: flex;
}

.left {
  flex: 1;
}

.details {
  color: gray;
}

.right {
  color: gray;
  text-align: right;
}

.gradeAverageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gradeAverage {
  font-weight: bold;
  font-size: 3rem;
  float: left;
  margin-right: 20px;
}
.gradeAverageDisclaimer {
  color: gray;
}

.spacer {
  display: inline-block;
  min-width: 10px;
  height: 1px;
}
