@media (min-width: 768px) {
  /* custom card deck because default is not responsive */
  .cardDeck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
  }
}

.card {
  cursor: pointer;
  margin: 10px;
}

.cardButton {
  color: gray;
  float: right;
  padding: 0;
}
