@media (min-width: 768px) {
  /* custom card deck because default is not responsive */
  .cardDeck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .card {
    min-height: 200px;
  }
}

.card {
  cursor: pointer;
  margin: 10px;
}

.cardButton {
  color: gray;
  float: right;
  padding: 0;
}

.themeModal {
  width: 700px;
  max-width: 95vw;
}

.busItem {
  padding: .25rem 1.25rem;
  border: 0;
}

.busRoute {
  padding: 0px 3px;
  margin-right: 6px;
  float: left;
  background: #eeeeee;
  border-radius: 2px;
  color: black;
  font-weight: bold;
}

.busDestination {
  float: left;
}

.busTime {
  float: right;
}
