.indicator {
  color: gray;
  font-size: 0.8rem;
}

.box {
  color: var(--white);
  background-image: linear-gradient(70deg, color-mix(in srgb, var(--secondary) 80%, var(--dark) 20%) 30%, color-mix(in srgb, var(--secondary) 80%, var(--light) 20%));
  padding: 4px 8px 5px 8px;
  border-radius: 5px;
  margin: 10px 10px 5px 0;
  display: inline-block;
}

.warn {
  color: var(--white);
  background-image: linear-gradient(70deg, color-mix(in srgb, var(--danger) 80%, var(--dark) 20%) 30%, color-mix(in srgb, var(--danger) 80%, var(--light) 20%));
}

.match {
  color: var(--white);
  background-image: linear-gradient(70deg, color-mix(in srgb, var(--success) 80%, var(--dark) 20%) 30%, color-mix(in srgb, var(--success) 70%, var(--light) 30%));
}

.name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-lines: 2;
}

.modalTitle {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--secondary);
}

.icon {
  margin-right: 6px;
}

.container {
  width: calc(100% - 1px);
}

.unknown {
  color: var(--gray);
}

.card {
  background-color: color-mix(in srgb, var(--secondary) 20%, transparent 80%);
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

a > .card:hover {
  background-color: color-mix(in srgb, var(--primary) 40%, transparent 60%);
}

.cardContainer {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px 16px;
  margin: 0px;
}

.cardColumn {
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}

.priceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardIcon {
  width: 1.2rem;
  font-size: 1.2rem;
  text-align: center;
}

.price {
  font-weight: bold;
  font-size: 1rem;
}

.category {
  opacity: 0.8;
  font-size: 0.8rem;
}

.cardBody {
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.prices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  overflow-x: auto;
  overflow-y: hidden;
}

.appBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 85vh
}

.appBody :global(h6) {
  margin: 0;
  margin-top: 6px;
}

.appBody :global(h4) {
  margin: 0;
  margin-top: 12px;
}

.cardContainer :global(ul) {
  margin: 0;
  padding-left: 1.5rem;
}

.warnColor {
  color: var(--danger);
}

.goodColor {
  color: var(--success);
}

.nutritionRow {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex: 1 1;
  align-items: center;
  font-size: 1rem;
}

.secondaryNutritionRow {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex: 1 1;
  align-items: center;
  font-size: 0.9rem;
  opacity: 0.8;
}

.nutritionTitle {
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: bold;
}

.nutritionValue {
  flex-grow: 0;
  font-weight: normal;
}

.nutrition {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  .nutrition {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.parentMeal {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--primary);
  gap: 6px;
  transition: color 0.2s ease-in-out;
}

.parentMeal:hover {
  color: var(--secondary)
}

.parentMeal > p {
  padding: 0;
  margin: 0;
}

.unknownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 12px 16px;
  margin: 0px;
  flex-grow: 1;
  justify-content: center;
}

.unknownMealIcon {
  font-size: 6rem;
  color: var(--primary);
}

.unknownTitle {
  font-weight: bold;
}