/* tab bar */
.tab :global(.nav) {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* tab bar items */
.tab :global(.nav .nav-item) {
  flex: 1;
  text-align: center;
}
.tab :global(.nav .nav-link) {
  padding: 5px 10px;
}

.kindHeader {
  color: var(--secondary);
  font-size: 1.1rem;
}

.meals {
  padding-bottom: 15px;
}

.nav {
  padding-bottom: 15px;
}

.details {
  margin-left: 5px;
  color: gray;
  text-align: right;
  align-self: flex-start;
}

.restaurant {
  font-size: .8rem;
  color: gray;
}

.indicator {
  font-size: .8rem;
  color: gray;
}

/* week selector */
.weekSelector {
  display: flex;
  align-items: center;
}

.weekText {
  flex: 1;
  text-align: center;
}

.noMeals {
  color: var(--gray);
}

.noMeals.active {
  background-color: var(--secondary) !important;
}

.noMealInfo {
  margin-top: 75px;
  text-align: center;
}

.translated {
  color: var(--primary);
  font-size: .8rem;
}

.variations {
  margin-top: 10px;
}

.variation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.item {
  padding-top: 15px;
  padding-bottom: 15px;
}
