.dateBoundary {
  margin-top: 20px;
}

.item {
  display: flex;
}

.left {
  flex: 1;
}

.room {
  color: gray;
}

.right {
  color: gray;
  text-align: right;
}

.verificationError {
  font-weight: bold;
  color: red;
}

.qrCode {
  width: 100% !important;
  height: auto !important;
}
