.dateBoundary {
  margin-top: 20px;
}

.item {
  display: flex;
}

.left {
  flex: 1;
}

.room {
  color: gray;
}

.right {
  color: gray;
  text-align: right;
}

.qrCode {
  width: 100% !important;
  height: auto !important;
}

.reserve {
  float: right;
  margin-left: 5px;
}

.reservationForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reservationTime {
  margin: 5px;
}

.wallet {
  text-align: center;
}
