.stationForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .stationForm {
    flex-direction: row;
  }
  .stationForm * {
    margin-right: 20px;
  }
}

.mobilityItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobilityRoute {
  display: flex;
  min-height: 1.5em;
  align-items: center;
  justify-content: center;
  min-width: 3em;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  color: var(--white);
  background-image: linear-gradient(
    70deg,
    color-mix(in srgb, var(--secondary) 80%, var(--dark) 20%) 30%,
    color-mix(in srgb, var(--secondary) 30%, var(--dark) 70%)
  );
  padding: 2px 6px;
  border-radius: 5px;
  margin-right: 10px;
}

.mobilityDestination {
  flex: 1;
  white-space: break-spaces;
  word-break: break-word;
  margin-right: 5px;
}

.mobilityTime {
  text-align: right;
}

.mobilityCanceled {
  text-decoration: line-through;
}

.strikethrough {
  text-decoration: line-through;
}
