.searchForm {
  padding: 0px 10px;
}

.links {
  float: right;
  font-size: 10pt;
  margin-top: 0.2em;
}

.legend {
  display: flex;
}

.legend .middle {
  flex: 1;
}

.legend .right {
  text-align: right;
}

.legendControl {
  background: white;
  padding: 6px;
}

.mapContainer {
  flex: 1;
  margin-top: 5px;
}

.mapContainer :global(.leaflet-control) {
  overflow: hidden;
  background-color: var(--rooms-controls-background, #ffffff);
  border-color: var(--rooms-controls-border, #00000033);
  color: unset;
}

/* restyle the layers control without modifying the html */
.mapContainer :global(.leaflet-control-layers) {
  padding: 0;
}
.mapContainer :global(.leaflet-control-layers label) {
  margin: 0;
}
/* hide the input control and style the neighboring span instead */
.mapContainer :global(.leaflet-control-layers input) {
  display: none;
}
.mapContainer :global(.leaflet-control-layers input + span) {
  display: block;
  width: 100%;
  padding: 6px 10px;
  font-size: 1rem;
  color: var(--muted-font-color, #6c757d);
  text-align: center;
  cursor: pointer;
}
.mapContainer :global(.leaflet-control-layers input:checked + span) {
  background-color: var(--primary, #8845ef);
  color: var(--inverted-font-color, #ffffff);
}

.legendFree, .legendTaken, .legendSpecial{
  margin: 0.2em 0em 0.2em 0.2em;
}

.legendFree::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: -2px;
  border-radius: 0.5em;
  background-color: var(--primary);
}

.roomAvailable {
  fill: var(--primary);
  fill-opacity: 0.4;
  stroke: var(--primary);
}

.roomOccupied {
  fill: var(--gray);
  stroke: var(--gray);
}

.legendTaken::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: -2px;
  border-radius: 0.5em;
  background-color: var(--gray);
}

.legendSpecial::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: -2px;
  border-radius: 0.5em;
  background-color: var(--legend-color);
}

.locationMarker {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .25));
}

/* Popup close button */
.popup :global(.leaflet-popup-close-button) > span {
  color: var(--white);
  font-size: 1.5rem !important;
}

.popup :global(.leaflet-popup-close-button) {
  top: calc(50% - 0.9rem) !important;
  right: 1rem !important;
  background-color: var(--primary) !important;
  border-radius: 50% !important;
  height: 1.7rem !important;
  width: 1.7rem !important;
  transition: background-color 0.2s ease-in-out !important;
}

.popup :global(.leaflet-popup-close-button:hover) {
  background-color: var(--navbar-border) !important;
}

/* Whole Popup */
.popup > div {
  border-radius: 10px;
  font-size: 0.8rem;
  color: var(--tabbar-tab);
}

/* Popup wrapper */
.popup :global(.leaflet-popup-content-wrapper) {
  padding: 0.2rem;
  background-color: var(--rooms-controls-background);
  padding-right: 2.2rem;
}

/* Popup tip */
.popup :global(.leaflet-popup-tip) {
  background-color: var(--tabbar-background);
}