.searchForm {
  padding: 0px 10px;
  padding-bottom: 5px;
}

.links {
  float: right;
  font-size: 10pt;
  margin-top: 0.2em;
}

.openings {
  font-size: 10pt;
  margin-top: 0.2em;
  color: var(--muted-font-color, #6c757d);
  float: left;
}

.mapContainer {
  border-radius: 8px;
}

@media only screen and (max-width: 576px) {
  .mapContainer {
    border-radius: 0px;
  }
}

.ctrlContainer {
  background-color: var(--rooms-controls-background);
  padding: 8px;
  border-radius: 8px;
}

.floorControl {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floorButton {
  font-size: 1rem;
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.floorButtonActive,
.floorButton:hover {
  color: var(--white);
  text-decoration: none;
  background-color: var(--primary);
}

.floorButton:hover {
  background-color: color-mix(in srgb, var(--primary) 80%, transparent 20%);
}

.floorButtonActive:hover {
  background-color: color-mix(in srgb, var(--primary) 80%, black 20%);
}

.legendControl {
  display: grid;
  flex-direction: column;
  grid-template-columns: auto auto;
  gap: 2px 8px;
  grid-template-rows: auto auto;
  align-items: center;
  padding: 8px 12px;
}

.legendControl > p {
  margin: 0;
  font-size: 0.8rem;
}

.legendFree,
.legendOccupied {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.legendFree {
  background-color: var(--primary);
}
.legendOccupied {
  background-color: var(--gray);
}

.roomAvailable {
  fill: var(--primary);
  fill-opacity: 0.2;
  stroke: var(--primary);
}

.roomOccupied {
  fill: transparent;
  stroke: var(--gray);
}

@media (prefers-color-scheme: dark) {
  .roomOccupied {
    stroke: var(--dark);
  }
}

@keyframes markerAnimation {
  0% {
    filter: drop-shadow(0px 0px 0px var(--primary));
  }
  100% {
    filter: drop-shadow(0px 0px 10px var(--primary));
  }
}

.locationMarker {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  border: 2px solid var(--white);
  background-color: var(--primary);
  animation: markerAnimation 1.25s infinite;
  fill: var(--primary);
}

.attributionWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.attributionText {
  overflow-x: hidden;
  white-space: nowrap;
}

.attributionButton {
  cursor: pointer;
}

.attributionIcon {
  color: var(--tabbar-tab);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease-in-out;
}

.popup {
  max-width: 400px !important;
}

.popup :global(.maplibregl-popup-tip) {
  border-top-color: var(--rooms-controls-background);
}

.popup :global(.maplibregl-popup-content) {
  border-radius: 8px;
  padding: 12px 16px;
  background-color: var(--rooms-controls-background);
}

.popupContent {
  display: grid;
  gap: 0.2em 1em;
  align-items: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.popupHeader {
  font-size: 1.2em;
  display: flex;
  gap: 0.25em;
  white-space: nowrap;
}

.popupBody {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  font-size: 1em;
}

.popupClose {
  color: var(--danger);
  cursor: pointer;
  font-size: 1.5em;
}
