.searchForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .searchForm {
    flex-direction: row;
  }

  .searchForm * {
    margin-right: 20px;
  }
}

.item {
  display: flex;
}

.left {
  flex: 1;
}

.details {
  color: gray;
}

.room {
  color: gray;
}

.right {
  text-align: right;
}

.login {
  margin: 25px 10px;
  text-align: center;
}

.suggestion {
  margin: 15px 5px;
  margin-bottom: 10px;
  font-weight: 600;
}

.icon {
  font-size: 10pt;
  color: var(--secondary);
  margin: 0px 7px;
}

.time {
  font-size: 10pt;
  color: var(--secondary);
}

.noSuggestions {
  margin-top: 75px;
  text-align: center;
}
