.container {
  display: flex;
  flex-direction: column;

  /* fill entire viewport height since we don't need scrolling on this page */
  height: 100vh;
  /* fix for iOS since Safari would otherwise include the status bar in the viewport height */
  max-height: stretch;
}

.mapContainer {
  flex: 1;
}

.searchForm {
  margin-bottom: 20px;
}
