.searchForm {
  padding: 0px 10px;
}

.links {
  float: right;
  font-size: 10pt;
  margin-top: 0.2em;
}

.openings {
  font-size: 10pt;
  margin-top: 0.2em;
  color: var(--muted-font-color, #6c757d);
  float: left;
}

.legend {
  display: flex;
}

.legend .middle {
  flex: 1;
}

.legend .right {
  text-align: right;
}

.legendControl {
  background: white;
  padding: 6px;
}

.mapContainer {
  flex: 1;
  margin: 5px 0 25px 0;
  border-radius: 8px;
}

@media only screen and (max-width: 576px) {
  .mapContainer {
    border-radius: 0px;
    margin: 5px 0 12px 0;
  }
}

.mapContainer :global(.leaflet-control) {
  overflow: hidden;
  background-color: var(--rooms-controls-background, #ffffff);
  color: unset;
  border-radius: 8px;
  border: 1px solid var(--rooms-controls-border, #ced4da);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.mapContainer :global(.leaflet-control-attribution) {
  padding: 5px 10px;
  margin: 0 0 11px 10px;
  max-width: 50vw;
}

.mapContainer :global(.leaflet-control-attribution) > a:link {
  color: var(--primary);
  transition: color 0.2s ease-in-out;
}

.mapContainer :global(.leaflet-control-attribution) > a:visited {
  color: var(--primary);
}

.mapContainer :global(.leaflet-control-attribution) > a:hover {
  color: var(--secondary);
  text-decoration: none;
}

.test {
  background-color: red;
}

/* restyle the layers control without modifying the html */
.mapContainer :global(.leaflet-control-layers) {
  padding: 0;
}

.mapContainer :global(.leaflet-control-layers label) {
  margin: 0;
}

/* hide the input control and style the neighboring span instead */
.mapContainer :global(.leaflet-control-layers input) {
  display: none;
}

.mapContainer :global(.leaflet-control-layers input + span) {
  display: block;
  width: 100%;
  padding: 6px 10px;
  font-size: 1rem;
  color: var(--muted-font-color, #6c757d);
  text-align: center;
  cursor: pointer;
}

.mapContainer :global(.leaflet-control-layers input:checked + span) {
  background-color: var(--primary, #8845ef);
  color: var(--inverted-font-color, #ffffff);
}

.legendFree,
.legendTaken,
.legendSpecial {
  margin: 0.2em 0em 0.2em 0.2em;
}

.legendFree::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: -2px;
  border-radius: 0.5em;
  background-color: var(--primary);
}

.roomAvailable {
  fill: var(--primary);
  fill-opacity: 0.2;
  stroke: var(--primary);
}

.roomOccupied {
  fill: transparent;
  stroke: var(--gray);
}

.legendTaken::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: -2px;
  border-radius: 0.5em;
  background-color: var(--gray);
}

.legendSpecial::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: -2px;
  border-radius: 0.5em;
  background-color: var(--legend-color);
}

@keyframes dropShadowAnimation {
  0% {
    filter: drop-shadow(0px 0px 0px var(--primary));
  }
  100% {
    filter: drop-shadow(0px 0px 10px var(--primary));
  }
}

.locationMarker {
  animation: dropShadowAnimation 1.25s infinite;
  fill: var(--primary);
}

/* Popup close button */
.popup :global(.leaflet-popup-close-button) > span {
  color: var(--white);
  font-size: 1.5rem !important;
  user-select: none !important;
}

.popup :global(.leaflet-popup-close-button) {
  top: calc(50% - 0.9rem) !important;
  right: 1rem !important;
  background-color: var(--primary) !important;
  border-radius: 50% !important;
  height: 1.7rem !important;
  width: 1.7rem !important;
  transition: background-color 0.2s ease-in-out !important;
}

.popup :global(.leaflet-popup-close-button:hover) {
  background-color: var(--navbar-border) !important;
}

/* Whole Popup */
.popup > div {
  border-radius: 10px;
  font-size: 0.8rem;
  color: var(--tabbar-tab);
}

/* Popup wrapper */
.popup :global(.leaflet-popup-content-wrapper) {
  padding: 0.2rem;
  background-color: var(--rooms-controls-background);
  padding-right: 2.2rem;
}

/* Popup tip */
.popup :global(.leaflet-popup-tip) {
  background-color: var(--tabbar-background);
}
