.container {
  /* fill entire viewport height since we don't need scrolling on this page */
  height: 100vh;
  /* fix for iOS since Safari would otherwise include the status bar in the viewport height */
  max-height: stretch;

  display: flex;
  flex-direction: column;
  padding: 0;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.legend {
  display: flex;
}

.legend .middle {
  flex: 1;
}

.legend .right {
  text-align: right;
}

.legendControl {
  background: white;
  padding: 6px;
}

.mapContainer {
  flex: 1;
  margin-top: 5px;
}

.mapContainer :global(.leaflet-control) {
  overflow: hidden;
  background-color: var(--rooms-controls-background, #ffffff);
  border-color: var(--rooms-controls-border, #00000033);
  color: unset;
}

/* restyle the layers control without modifying the html */
.mapContainer :global(.leaflet-control-layers) {
  padding: 0;
}
.mapContainer :global(.leaflet-control-layers label) {
  margin: 0;
}
/* hide the input control and style the neighboring span instead */
.mapContainer :global(.leaflet-control-layers input) {
  display: none;
}
.mapContainer :global(.leaflet-control-layers input + span) {
  display: block;
  width: 100%;
  padding: 6px 10px;
  font-size: 1rem;
  color: var(--muted-font-color, #6c757d);
  text-align: center;
  cursor: pointer;
}
.mapContainer :global(.leaflet-control-layers input:checked + span) {
  background-color: var(--primary-color, #8845ef);
  color: var(--inverted-font-color, #ffffff);
}

.legendFree, .legendTaken {
  margin: 0.2em;
}

.legendFree::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background-color: #8845ef;
}

.legendTaken::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background-color: #6c757d;
}

.linkToSearch {
  float: right;
  margin-top: 0.2em;
}
