.container {
  /* fill entire viewport height since we don't need scrolling on this page */
  height: calc(100dvh - 10px);
  /* fix for iOS since Safari would otherwise include the status bar in the viewport height */
  max-height: stretch;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
}
