.weekSelector {
  display: flex;
  align-items: center;
}

.weekSelector .currentWeek {
  flex: 1;
  text-align: center;
}

.day {
  display: flex;
  flex-direction: row;
}

.day .heading {
  min-width: min(15%, 100px);
  text-align: center;
  margin: 25px 0px;
}

.today .heading {
  color: var(--primary, #8845ef) !important;
}

.day .heading .date {
  font-size: 24pt;
  line-height: 1em;
}

.day .heading .weekday {
  font-size: 12pt;
  text-transform: uppercase;
}

.items {
  flex: 1;
  justify-content: center;
  padding: 15px 0px;
}

.item {
  display: flex;
  border: 0;
  padding: 0.75rem;
  color: unset;
}

.left {
  flex: 1;
}

.name {
  font-weight: 600;
}

.room {
  color: gray;
}

.right {
  color: gray;
  text-align: right;
  margin-left: 0.25rem;
}

.notice {
  position: fixed;
  width: 100%;
  top: 35dvh;
  text-align: center;
  transform: translateY(-50%);
}

.notice > span:first-child {
  font-size: 5rem;
  /* Shift to visual center */
  margin-left: 25px;
}

.notice > p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: bold;
}

.slide {
  /* workaround to make sure the entire height is swipeable */
  /* TODO: find a better solution */
  min-height: calc(
    100vh - env(safe-area-inset-top, 0px) - 70px - 38px - 10px - 56px -
      env(safe-area-inset-bottom, 0px)
  );
}
