// taken and adapted from https://github.com/ForEvolve/bootstrap-dark/

$link-color: $primary;
$link-hover-color: $primary;

// Utilities (borders)
$border-color: $primary;

// Cards
$card-border-color: $gray-700;
$card-cap-bg: rgba($body-bg, .03);
$card-color: $body-color;
$card-bg: rgba($body-bg, .7);
$nav-tabs-border-color: $primary;
//$nav-tabs-link-hover-border-color: $gray-700 $gray-700 $nav-tabs-border-color;
//$nav-tabs-link-active-color: $gray-700;
//$nav-tabs-link-active-bg: $body-bg;
//$nav-tabs-link-active-border-color: $gray-700 $gray-700 $nav-tabs-link-active-bg;
$component-active-color: $body-color;
$component-active-bg: $primary;

// List group
$list-group-color: $body-color;
$list-group-bg: rgba($body-bg, .05);
$list-group-border-color: rgba($primary, .125);
$list-group-hover-bg: $primary;
$list-group-active-color: $body-color;
$list-group-active-bg: $primary;
$list-group-active-border-color: $body-color;
$list-group-disabled-color: grey;
$list-group-disabled-bg: $list-group-bg;
$list-group-action-color: $body-color;
$list-group-action-hover-color: $list-group-action-color;
$list-group-action-active-color: $body-color;
$list-group-action-active-bg: $gray-700;

// Forms
$input-bg: $body-bg;
$input-disabled-bg: $gray-700;
$input-color: $body-color;
$input-border-color: $gray-700;
$input-box-shadow: inset 0 1px 1px rgba($body-color, .075);
$input-focus-bg: $body-bg;
$input-focus-border-color: lighten($component-active-bg, 25%);
$input-focus-color: $input-color;
$input-group-addon-color: $input-color;
$input-group-addon-bg: $gray-700;
$input-group-addon-border-color: $input-border-color;

$custom-select-color: $input-color;
$custom-select-disabled-color: $gray-700;
$custom-select-bg: $input-bg;
$custom-select-disabled-bg: $gray-700;
$custom-select-indicator-color: $gray-700;
$custom-select-box-shadow: inset 0 1px 2px rgba($body-color, .075);
$custom-select-border-color: $input-border-color;

// Modals
$modal-content-bg: $body-bg;
$modal-content-border-color: rgba($body-color, .2);
$modal-header-border-color: $gray-700;
$modal-footer-border-color: $modal-header-border-color;
$close-color: $body-color;
$close-text-shadow: 0 1px 0 $body-bg;

// Tables
$table-color: $body-color;
$table-border-color: $border-color;
$table-hover-color: $table-color;
$table-dark-color: $gray-700;

// Jumbotron
$jumbotron-bg: $gray-700;

// HR
$hr-border-color: rgba($body-color, .1);

// Toasts
//$toast-color: null;
$toast-background-color: rgba($body-bg, .85);
$toast-border-color: rgba(255, 255, 255, .1);
$toast-box-shadow: 0 .25rem .75rem rgba($body-color, .1);
$toast-header-color: $gray-700;
$toast-header-background-color: rgba($body-bg, .85);
$toast-header-border-color: rgba(255, 255, 255, .05);

// Dropdowns
//
$dropdown-color: $body-color;
$dropdown-bg: $body-bg;
$dropdown-border-color: rgba($body-color, .15);
$dropdown-divider-bg: $gray-700;
$dropdown-box-shadow: 0 .5rem 1rem rgba($body-color, .175);
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: lighten($body-color, 5%);
$dropdown-link-hover-bg: $gray-700;
$dropdown-link-active-color: $component-active-color;
$dropdown-link-active-bg: $component-active-bg;
$dropdown-link-disabled-color: $gray-700;
$dropdown-header-color: $gray-700;

// Breadcrumbs
$breadcrumb-bg: $gray-700;
$breadcrumb-divider-color: $gray-700;
$breadcrumb-active-color: $gray-700;

// Pagination
$pagination-color: $link-color;
$pagination-bg: $body-bg;
$pagination-border-color: $gray-700;
$pagination-hover-color: $link-hover-color;
$pagination-hover-bg: $gray-700;
$pagination-hover-border-color: $gray-700;
$pagination-active-color: $component-active-color;
$pagination-active-bg: $component-active-bg;
$pagination-active-border-color: $pagination-active-bg;
$pagination-disabled-color: $gray-700;
$pagination-disabled-bg: $body-bg;
$pagination-disabled-border-color: $gray-700;

// Custom additions

// Navbar
$navbar-light-color: $body-color;
$navbar-light-brand-color: $body-color;
$navbar-light-brand-hover-color: $body-color;
$navbar-brand-color: $body-color;

// react-placeholder
.text-row, .rect-shape, .round-shape {
  background-color: rgba($body-color, .15) !important;
}

// API playground
pre {
  color: $body-color !important;
}

:root {
  --navbar-background: #{$body-bg};
  --navbar-border: #{$gray-700};
  --navbar-shadow: rgba(white, .8);

  --tabbar-background: #{$body-bg};
  --tabbar-border: #{$gray-700};
  --tabbar-shadow: rgba(white, .8);
  --tabbar-tab: #{$body-color};
  --tabbar-tab-active: #{$primary};

  --home-card-mobile-border: #{$gray-700};

  --rooms-controls-background: #{$body-bg};
  --rooms-controls-border: #{$gray-700};
}

// use our CI color
$theme-colors: (
  "primary": $primary
);

@import "../node_modules/bootstrap/scss/bootstrap";